<nav>
  <div class="site-title">
    <a href="/"><h1>BlogMedia</h1></a>
    <p>A Blog Website</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Add Blog</a></li>
  </ul>
</nav>
